/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
    
.container div{
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    background: beige;
    border: 1px solid gray;
    width: 68%;
    height: 68%;
    font-family: Verdana, Tahoma, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    color: palevioletred;
    font-family: Verdana, Tahoma, sans-serif;
}
.note{
    color:gray;
    font-size: small;
}